<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Clientes</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
    <button type="button" class="close" ng-click="message.type = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.text }} 
</div>
<h2>Clientes</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1"> 
        <button type="button" class="btn btn-primary" ng-click="showClientesAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nuevo Cliente</button>
        <scrollable-table watch="clientes" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="razon_social">Razón Social</th>
                        <th sortable-header col="ciudad">Ciudad</th>
                        <th sortable-header col="rubro">Rubro</th>
                        <th sortable-header col="ruc">RUC</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="!loading"><td colspan="5">Cargando...</td></tr>
                    <tr ng-show="loading && clientes.length === 0"><td colspan="5">No hay registros</td></tr>
                    <tr ng-class="{'danger': cliente.estado_id === 2}" ng-repeat="cliente in clientes" row-id="{{ cliente.id }}">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.razon_social }}</td>
                        <td>{{ cliente.ciudad }}</td>
                        <td>{{ cliente.rubro }}</td>
                        <td>{{ cliente.ruc }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showClientesEdit(cliente, $event)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>