<form ng-submit="saveProducto(producto, 'btnSaveProducto', urls_preview, brochure_preview, title_images)">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Producto</h4>
    </div>
    <div class="modal-body modal-body-overflow">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="txtTitle">Título</label>
                    <input id="txtTitle" class="form-control" type="text" ng-model="producto.title" required />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="txtSubtitle">Sub Título</label>
                    <input id="txtSubtitle" class="form-control" type="text" ng-model="producto.subtitle" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="sltTipo">Tipo</label>
                    <select id="sltTipo" class="form-control" required
                        ng-options="option.type as option.description for option in [{type: 'P', description: 'Página'}, {type: 'L', description: 'Línea de Producto'}, {type: 'A', description: 'Área'}]" ng-model="producto.type">
                        <option value="">Selecciona uno</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="sltParent">Pertenece a</label>
                    <select id="sltParent" class="form-control"
                        ng-options="producto.id as producto.title for producto in productos_list" ng-model="producto.parent_id">
                        <option value="">Selecciona uno</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtaBody">Contenido</label>
            <textarea id="txtaBody" class="form-control textarea-3x" ng-model="producto.body" ui-tinymce="tinymceProductosOptions"></textarea>
            <input style="display: none;" id="flImagen" type="file" class="form-control" ngf-select="upload($file, $invalidFiles)" 
            accept="image/*" ngf-max-height="5000" ngf-max-size="10MB"/>
        </div>
        <div class="form-group">
            <label for="txtaResumen">Resumen</label>
            <textarea id="txtaResumen" class="form-control textarea-2x" ng-model="producto.resumen" required></textarea>
        </div>
        <div class="form-group">
            <label for="flImagenesProductos">Imágenes</label>
            <input id="flImagenesProductos" type="file" class="form-control"  ngf-multiple="true" 
                ngf-select="preview($files, $invalidFiles)" accept="image/*" 
                ngf-max-height="5000" ngf-max-size="10MB"/>
            <span ng-show="loading">Cargando...</span>
            <div ng-image-gallery
                 images="images" on-delete="delete(img, cb)" methods="methods">
            </div>
            <input class="form-control" type="text" placeholder="Tìtulo de Imagen {{ $index + 1 }}" 
                ng-repeat="image in images" ng-model="title_images[$index]">
        </div>
        <div class="form-group">
            <label for="flBrochure">Brochure</label>
            <input id="flBrochure" type="file" class="form-control" ngf-select="preview_brochure($file, $invalidFiles)" 
                accept="application/pdf" ngf-max-height="5000" ngf-max-size="10MB"/>
            <span ng-hide="brochure_preview === undefined || brochure_preview === null">Brochure cargado correctamente</span>
            <span ng-show="loading">Cargando...</span>
            <span ng-show="!loading && brochure_preview === null">No fue posible cargar el Brochure</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveProducto" class="btn btn-success" type="submit">Guardar Producto</button>
    </div>
</form>