<form ng-submit="saveSlide(slide, 'btnSaveSlide', url_preview)">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar Slide</h4>
    </div>
    <div class="modal-body modal-body-overflow">
        <div class="form-group">
            <label for="txtTitulo">Título</label>
            <input id="txtTitulo" class="form-control" type="text" ng-model="slide.titulo" />
            <p class="help-block">Dejar vacío si no se desea mostrar detalle del Slide.</p>
        </div>
        <div class="form-group">
            <label for="txtaContenido">Contenido</label>
            <textarea id="txtaContenido" class="form-control textarea-1x" ng-model="slide.contenido"></textarea>
        </div>
        <div class="form-group" ng-hide="slide.titulo === undefined || slide.titulo === '' || slide.titulo === null">
            <div class="col-sm-6">
                <label for="clColor">Color de Texto</label>
                <input id="clColor" class="form-control" type="color" ng-model="slide.color" />
            </div>
            <div class="col-sm-6">
                <label for="clColorFondo">Color de Fondo</label>
                <input id="clColorFondo" class="form-control" type="color" ng-model="slide.color_bg" />
            </div>
        </div>
        <div class="form-group">
            <label for="flImagen">Imagen</label>
            <input id="flImagen" type="file" class="form-control" ngf-select="preview($file, $invalidFiles)" accept="image/*" ngf-max-height="5000" ngf-max-size="10MB"/>
            <img ng-hide="url_preview === undefined || url_preview === null" class="img-responsive" ng-src="{{tmp_path}}/{{url_preview}}" alt="imagen previa" />
            <span ng-show="loading">Cargando...</span>
            <span ng-show="!loading && url_preview === null">No fue posible cargar la imagen</span>
        </div>
        <div class="form-group">
            <label>Estado</label>
            <div>
                <label><input type="radio" ng-model="slide.estado_id" ng-value="1"> Activo</label>
                <label><input type="radio" ng-model="slide.estado_id" ng-value="2"> Inactivo</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveSlide" class="btn btn-success" type="submit">Guardar Slide</button>
    </div>
</form>